@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Nunito:wght@200;300;400;600;700&family=Poppins:wght@400;500;600&family=Roboto:wght@400;500;700&display=swap');

:root{
  --green: #27ae60;
  --black: #192a56;
  --light-color: #666;
  --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

*{
  font-family: 'Nunito', sans-serif;
  margin: 0; padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline:none; border: none;
  text-transform: capitalize;
  transition: all .2s linear;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5.5rem ;
  scroll-behavior: smooth;
}




header{
  position: fixed;
  top:0; left: 0; right: 0;
  background-color: #fff;
  padding: 1rem 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10000;
  box-shadow: var(--box-shadow);
}

header .logo{
  color: var(--black);
  font-size: 2.5rem;
  font-weight: bolder;
}

header .logo i{
  color: var(--green);
}

header .navbar a{
  font-size: 1.7rem;
  border-radius: .5rem;
  padding: .5rem 1.5rem;
  color: var(--light-color);
}

header .navbar a.active,
header .navbar a:hover{
  background-color: var(--green);
  color: #fff;
}

header .icon i,
header .icon a{
  cursor: pointer;
  margin-left: .5rem;
  height:4.5rem;
  line-height: 4.5rem;
  width: 4.5rem;
  text-align: center;
  font-size: 1.7rem;
  color: var(--black);
  border-radius: 50%;
  background-color: #eee;
}

header .icon i:hover,
header .icon a:hover{
  color: #fff;
  background-color: var(--green);
  transform: rotate(360deg) ;
  
}

header .icon #menu-bar{
  display: none;
}

section{
  min-height: 100vh;
  background-color: #cacaca;
}

section:nth-child(even){
  background-color: #f7f7f7;
}

#home{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10%;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
  padding-top: 2rem ;
  
}

.container .con-right img {
  width: 100%;
}

.container .con-right {
  max-width: 35vw;
}

.container .con-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  word-break: break-all;

  text-align: center;
}

.container .con-left .header{
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--light-color);
}

.container .con-left .header span {
  color: var(--green) ;
}

.container .con-left .description{
  line-height: 25px;
}

#menu {
  padding-top: 6rem;
}

.box-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.box-heading .sub-heading{
  color: var(--green);
  font-size: 2rem;
}

.box-heading .heading{
  color: var(--light-color);
  font-size: 3rem;
}


.grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
  padding: 2rem;
}

.grid .box{
  background-color: #fff;
  border: .1rem solid rgba(0,0,0,.2);
  border-radius: 1rem;
  box-shadow: var(--black);
}

.grid .box .image{
  height: 26rem;
  width: 100%;
  padding: 1.5rem;
  overflow: hidden;
  
}

.grid .box .image img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
  
.grid .box .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid .box .content .food-name {
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 2.5rem;
  word-break: break-all;
}

.grid .box .content .price{
  margin-bottom: .5rem;
  font-size: 1.7rem;
  font-weight: bold;
  color: var(--green);

}

.grid .box .content .add-item{
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1.8rem;
  border-radius: 1rem;

  background-color: #192a56;
  color:white;
  width: 20rem;
  height: 4rem;
}






@media (max-width: 991px){

  html{
    font-size: 55%;
  }

  header{
    padding: 1rem 2rem; 
  }

}

@media (max-width: 768px ){
  

  header .icon #menu-bar{
    display: inline-block;
  }

  header .navbar{
    position: absolute;
    top:100%; left: 0; right: 0;
    background-color: #fff;
    border-top: .1rem solid rgba(0,0,0,.2);
    padding: 1rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

  }

  .navbar a{
    display: block;
    padding: 1.5rem;
    margin: 1rem ;
    background-color: #fff;
  }

}




















